In [1]:
data = [
    '마드라스체크에 따르면 서울우유가 국내 유업체의 선두주자인 만큼 이번 플로우 도입으로 업무 소통 효율을 높이되 프로젝트의 기획 산출물이나 계약 사항 누출에 매우 민감해 외부 유출을 원천 방지할 수 있도록 철저한 보안 기능까지 안정적으로 지원하여 협업툴 공급 계약 체결에 신중을 기했다고 한다',
    '한편 서울우유 공급 계약 체결 소식을 전한 플로우는 국내 유일하게 ΔSaaS형 Δ클라우드 호스팅형 Δ사내서버설치형OnPremise형 가지 형태의 서비스를 지원하고 있어 다양로젝트의 기획 산출물이나 계약 사항 누출에 매우 민감해 외부 유출을 원천 방지할 수 있도록 철저한 보안 기능까지 안정적으한 고객들의 업무 환경에 알맞는 협업툴을 공급하고 있다',
    '회사 측에 따르면 년 월 기준 국내 여개의 기업에서 협업 내 유일하게 ΔSaaS형 Δ클라우드 호스팅형 Δ사내서버설치형OnPremise형 가지 형태의 서비스를 지원하고 있어 다양한 고객들의 툴 플로우를 활용하여 디지털 협업 환경을 구축하고 조직문화를 혁신하고 있다'
]

In [11]:
from keywords.mariadb import MariaDB

In [19]:
with open('./keywords/aws_config','r') as f:
    lines = f.readlines()
    a = {line.split('=')[0].strip():line.split('=')[1].strip() for line in lines}

db = MariaDB(a)

In [20]:
db.insert

['DB',
 '__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'cursor_type',
 'insert',
 'insert_many',
 'select']

In [14]:
db.insert('test', 'name, age', ('[백수정]', '7'))

2

In [ ]:
columns = 'name, age'
values = ('[백수정]', 7)
db.insert('test', columns, values)

In [36]:
a = (1,2,3)
len(a)

3

In [ ]:
a = df['제품명'].tolist()
b = [i.strip() for i in a]
print(b)