In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# 경로 설정하기
target_dir = 'c:\\Users\\SDA02\\Desktop\\my_workspace\\sanghyuk29-package\\hsh_esg_project\\jobplanet_crawling\\kosdaq\\KOSDAQ result'
os.chdir(target_dir)
os.getcwd()

'c:\\Users\\SDA02\\Desktop\\my_workspace\\sanghyuk29-package\\hsh_esg_project\\jobplanet_crawling\\kosdaq\\KOSDAQ result'

In [38]:
# 각 범위의 최소 최대 범위 구하기

# 항목 최소-최대 결측치변경값

# 복지개수 1-78 10
# 복지평점 1-5 1
# 리뷰평점 1-5 1
# 복지 및 급여 1-5 1
# 워라밸 1-5 1
# 사내문화 1-5 1
# 승진 및 기회가능성 1-5 1
# 경영진 점수 1-5 1
# 기업추천율 2-100 20
# ceo지지율 5-100 20
# 성장가능성 1-100 20

In [3]:
jp_point_df = pd.read_csv('./kosdaq_jobplanet_numer_data_result.csv')

In [59]:
# 확인용
# print(max([num for num in jp_point_df['s_point']]))
# print(([num for num in jp_point_df['s_point']]))
# print(len([(num, corp) for num, corp in zip(jp_point_df['s_point'], jp_point_df['회사명']) if num > 0.0]))

In [4]:
del jp_point_df['Unnamed: 0.1']
del jp_point_df['Unnamed: 0']
del jp_point_df['순서']

In [5]:
jp_point_df

,회사명,복지평점,복지개수,리뷰평점,복지 및 급여,워라밸,사내문화,승진기회및가능성,경영진 점수,기업추천율,ceo지지율,성장가능성,복지개수_scale,s_point,g_point
0,아이엠비디엑스,4.1,17.0,2.6,2.5,3.3,2.2,2.3,2.6,38.0,45.0,38.0,1.0897,2.555500,3.195
1,엔젤로보틱스,4.2,29.0,2.6,2.6,2.3,2.5,2.3,1.9,28.0,39.0,28.0,1.8589,2.667000,2.613
2,제이투케이바이오,3.8,15.0,4.5,5.0,4.0,4.0,4.5,4.5,100.0,100.0,100.0,0.9615,6.950000,13.000
3,삼현,2.7,48.0,2.3,2.0,1.9,2.1,2.5,2.1,20.0,41.0,27.0,3.0768,3.207750,2.747
4,오상헬스케어,2.9,32.0,2.1,2.1,3.0,2.2,2.3,1.7,23.0,28.0,13.0,2.0512,1.800000,1.736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1708,CG인바이츠,3.7,17.0,2.7,2.1,3.5,2.6,2.6,2.5,28.0,34.0,21.0,1.0897,1.610875,2.618
1709,DMS,3.0,45.0,2.1,2.1,1.6,2.0,2.4,1.7,16.0,19.0,6.0,2.8845,1.421750,1.159
1710,시너지이노베이션,2.6,25.0,2.3,2.1,2.8,2.4,2.4,2.0,20.0,31.0,23.0,1.6025,1.746875,2.108
1711,신성델타테크,2.5,32.0,2.4,2.7,1.8,2.2,2.7,2.1,22.0,37.0,19.0,2.0512,1.998750,2.590
1712,CBI,3.2,45.0,2.4,2.2,3.2,2.6,2.6,2.1,21.0,28.0,5.0,2.8845,1.742000,2.044

In [6]:
# s_point 값 범위
s_max = max([num for num in jp_point_df['s_point']])
s_min = min([num for num in jp_point_df['s_point']])
print(f's_가산점 => 최소 : {s_min} ||| 최대 : {s_max}')
# g_point 값 범위
g_max = max([num for num in jp_point_df['g_point']])
g_min = min([num for num in jp_point_df['g_point']])
print(f'g_가산점 => 최소 : {g_min} ||| 최대 : {g_max}')

s_가산점 => 최소 : 0.08575 ||| 최대 : 11.832000000000004
g_가산점 => 최소 : 0.24 ||| 최대 : 15.0